---
---
<div class="strip">
  <div class="wrap">
    <span><b>200+*</b> Geelong homes fitted</span><span class="sep">|</span>
    <span><span class="stars">★★★★★</span> <b>5.0*</b> average rating</span><span class="sep">|</span>
    <span>Premium supplier range</span><span class="sep">|</span>
    <span><b>10+</b> suburbs serviced</span><span class="sep">|</span>
    <span>Fully insured &amp; guaranteed</span>
  </div>
</div>
